<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <h1>login</h1>  
    <input type="email" name="email" id="">
    <input type="password" name="pass" id="">
    <input type="submit" value="Login">
    </form>
    <form action="/daftar" method="post">
        <h1>daftar</h1>
        <input type="email" name="ml" id="">
        <input type="password" name="pw" id="">
        <input type="submit" value="Daftar">
    </form>
</body>
</html>